[Unit]
Description=Genes server

[Service]
Type=simple
ExecStart=/bin/bash -c "cd $HOME/Development/gene2brain && ./start.sh"
Restart=always

[Install]
WantedBy=multi-user.target

